################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BuzzerWolf/bin
/BuzzerWolf/obj
/BuzzerWolf/Properties/PublishProfiles
